.activity-list {
  display: grid;
  height: 100vh;
  background-image: linear-gradient(#f1e4e8, #ceb1be);
  color: #282c34;
}

.activity-list-nav {
  position: absolute;
  top: 20px;
  right: 20px;
}

.activity-list > li {
  font-size: 1.5em;
  font-weight: bold;
  border-radius: 2px;
  text-transform: capitalize;
  padding: 2px 10px;
  display: flex;
  align-items: center;
}

.ReactCollapse--content {
  background: orange;
}

@media (min-width: 768px) {
  .activity-list > li {
    font-size: 2em;
  }
}
