.Home-welcome {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #282c34;
}

.Home-links {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .Home-links {
    display: flex;
  }
}

.Home-links > a {
  display: block;
}

/* Globals */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App-button-link {
  color: #282c34;
  background: #b6c9bb;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  margin: 12px;
  display: inline-block;
}

.App-button-link > i {
  color: #282c34;
  margin-right: 4px;
}

.App-button-link:hover {
  border: 1px solid #282c34;
  box-sizing: border-box;
}
