@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap");

.Home-welcome {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #282c34;
  background-image: linear-gradient(#f1e4e8, #ceb1be);
}

.Home-links {
  margin-top: 30px;
}

@media (min-width: 768px) {
  .Home-links {
    display: flex;
  }
  .Home-links > a {
    margin: 5px;
  }
}

.Home-links > a {
  display: block;
  margin-bottom: 5px;
}

/* Globals */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.App-button-link {
  color: #f3f7f0;
  background: #c64962;
  padding: 12px 24px;
  border-radius: 24px;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid transparent;
  display: inline-block;
  text-transform: uppercase;
}

.App-button-link > i {
  color: #f3f7f0;
  margin-right: 4px;
}

.App-button-link:hover {
  border: 1px solid #282c34;
  box-sizing: border-box;
}
